@model DepartmentReminderApp.Models.Reminder

<h2> Reminder</h2>

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form asp-action="Create" method="post">
                <div class="form-group">
                    <label for="Title">Title</label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="DateTime">Date and Time</label>
                    <input asp-for="DateTime" type="datetime-local" class="form-control" />
                    <span asp-validation-for="DateTime" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="Email">Email</label>
                    <input asp-for="Email" type="email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Create</button>
                    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
                </div>
            </form>
        </div>
    </div>
</div>
